#form_tablero {
    .form-inputs {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
    .form-actions {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    .busqueda_casos {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}

.tablero-cards {
    .w-100 {
        width: 100%;
    }


    @include media-breakpoint-up(md) {
        .card-small {
            width: 50% !important;
        }

        .card-large {
            width: 50% !important;
        }
    }


    @include media-breakpoint-up(lg) {
        .card-small {
            width: 40% !important;
        }

        .card-large {
            width: 60% !important;
        }
    }

    .data-small {
        width: 100%;
        border: none;

        > .item {
            width: 100%;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
            border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;

            > .item {
                width: auto;
            }
        }
    }
}

.tipos-pagos {
    .icon {
        width: 45px;
        height: 45px;
    }

    > .item {
        > .info {
            width: 100%;

            @include media-breakpoint-up(md) {
                width: 285px;
            }

            > .data {
                width: 136px;
            }

            > .data-alt {
                width: 105px;
            }
        }

        > .simple-chart {
            width: 100%;

            @include media-breakpoint-up(md) {
                width: calc(100% - 285px);
            }

            .bar {
                height: 25px;
            }
        }
    }

}

