.welcome {
    .seccion-intro {
        color: $gray;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: .32px;
        padding: 30px 0;
    }

    .seccion-accion {
        .btn {
            font-size: 14px;
            padding: 14px;
        }
    }

    .seccion-acceso {
        padding: 30px 0;
    }
}
