/* Commons */

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-tertiary {
    background-color: $tertiary;
}

.bg-tertiaryAlt {
    background-color: $tertiary-alt;
}

.bg-default-gray {
    background-color: $default-gray;
}

.bg-table {
    background-color: $color-table !important;
}

.bg-gray{
    background-color: $gray;
}

.bg-graylight {
    background-color: $xlight;
}

.bg-bluelight{
    background-color: $light-blue!important;
    color: #555770!important;
    font-weight: bold;
}

/* BG estatus */
.bg-estatus-captura {
    background-color: $e-captura;
}

.bg-estatus-revision {
    background-color: $e-revision;
}

.bg-estatus-rechazado_analista {
    background-color: $e-rechazado_analista;
}

.bg-estatus-rechazado_dnpj {
    background-color: $e-rechazado_dnpj;
}

.bg-estatus-sin_atender_pgr {
    background-color: $e-sin_atender_pgr;
}

.bg-estatus-turnado_coordinador {
    background-color: $e-turnado_coordinador;
}

.bg-estatus-rechazado_coordinador {
    background-color: $e-rechazado_coordinador;
}

.bg-estatus-turnado_procurador {
    background-color: $e-turnado_procurador;
}

.bg-estatus-rechazado_procurador {
    background-color: $e-rechazado_procurador;
}

.bg-estatus-proceso {
    background-color: $e-proceso;
}

.bg-estatus-concluido {
    background-color: $e-concluido;
}

.bg-estatus-demanda {
    background-color: $e-demanda;
}

.bg-estatus-convenio_pago {
    background-color: $e-convenio_pago;
}

.bg-estatus-pago_total {
    background-color: $e-pago_total;
}

.bg-estatus-no_procedente{
    background-color: $e-no-procedente;
}


.bg-estatus-iente_expedrecibido {
    background-color: $e-turnado_procurador;
}
.bg-estatus-vigente {
    background-color: $e-vigente;
}

.bg-estatus-historico {
    background-color: $e-historico;
}

.bg-estatus-planeacion {
    background-color: $e-pendiente;
}
.bg-estatus-admitida {
    background-color: $e-admitida;
}

.bg-estatus-otro_descargo {
    background-color: $e-otro_descargo;
}

.bg-estatus-informacion_pendiente {
    background-color: $e-informacion_pendiente;
}

.bg-grayAlt {
    background-color: $border-gray;
}
.bg-descargo{
    background-color: $gray;
}

/* BG estatus ATIs*/

.bg-estatus-pendiente {
    background-color: $e-pendiente;
    color:$white !important;
}

.bg-estatus-en_revision {
    background-color: $e-revision;
    color:$white !important;
}
.bg-estatus-revision_inadmision{
    background-color: $e-inadmision;
    color:$white !important;
}
.bg-estatus-inadmision{
    background-color: $e-inadmision;
    color:$white !important;
}
.bg-estatus-no_procede_inadmision{
    background-color: $e-solventado;
    color:$white !important;
}
.bg-estatus-providencia {
    background-color: $e-providencia;
    color:$white !important;
}

.bg-estatus-solventado {
    background-color: $e-solventada;
    color:$white !important;
}

.bg-estatus-solicitud_expediente{
    background-color: $e-solicitud_expediente;
    color:$white !important;
}

.bg-estatus-admitida{
    background-color: $e-admitida;
    color:$white !important;
}
.bg-estatus-informe_cargado{
    background-color: $e-informe_cargado;
    color:$white !important;
}
.bg-estatus-para_desestimar{
    background-color: $e-para_desestimar;
    color:$white !important;
}
.bg-estatus-desestimado {
    background-color: $e-desestimado;
    color:$white !important;
}
.bg-estatus-observaciones_informe {
    background-color: $e-observaciones_informe;
    color:$white !important;
}
.bg-estatus-informe_actualizado {
    background-color: $e-informe_actualizado;
    color:$white !important;
}
.bg-estatus-validar_informe_auditor {
    background-color: $e-validar_informe_auditor;
    color:$white !important;
}
.bg-estatus-proceso_remision {
    background-color: $e-proceso_remision;
    color:$white !important;
}
.bg-estatus-finalizado {
    background-color: $e-finalizado;
    color:$white !important;
}
.bg-estatus-expediente_recibido{
    background-color: $e-turnado_procurador;
    color:$white !important;
}
.bg-btn-guardar{
    background-color: $e-btn-guardar;
    color:$white !important;
}
.bg-btn-reasignar-auditor{
    background-color: $e-reasignar-auditor;
    color:$white !important;
}

.bg-estatus-formulario_borrador {
    background-color: $e-captura;
    &:hover{
        background-color: darken($e-captura, 6%);
    }
}

.bg-estatus-formulario_activo {
    background-color: $e-admitida;
    color:$white !important;
    &:hover{
        background-color: darken($e-admitida, 6%);
    }
}
.bg-estatus-espera {
    background-color: $e-espera;
    color:$white !important;
}
.bg-estatus-incumplida {
    background-color: $e-incumplida;
    color:$white !important;
}
.bg-estatus-plazo_vencido {
    background-color: $e-plazo_vencido;
    color:$white !important;
}


//Estatus Solicitud de Expediente Auditoria

.bg-estatus-solicitud_solicitada {
    background-color: $e-solicitud_solicitada;
    color:$white !important;
}
.bg-estatus-solicitud_recibida {
    background-color: $e-solicitud_recibida;
    color:$white !important;
}
.bg-estatus-solicitud_plazo_vencido {
    background-color: $e-solicitud_plazo_vencido;
    color:$white !important;
}
.bg-estatus-solicitud_prorroga {
    background-color: $e-solicitud_prorroga;
    color:$white !important;
}
.bg-estatus-solicitud_incumplimiento {
    background-color: $e-solicitud_incumplimiento;
    color:$white !important;
}
.bg-estatus-incumplimiento{
    background-color: $e-incumplimiento;
    color:$white !important;
}
.bg-estatus-incumplimiento_sin_expediente{
    background-color: $e-solicitud_incumplimiento;
    color:$white !important;
}

.bg-btn-incumplimiento{
    background-color: $e-incumplimiento;
    color:$white !important;
}
.bg-estatus-formulario_historico {
    background-color: $e-solventado;
    color:$white !important;
    &:hover{
        background-color: darken($e-solventado, 6%);
    }
}

.btn {
    &.bg-estatus-captura {
        &:hover {
            background-color: darken($e-captura, 6%);
        }
    }

    &.bg-estatus-revision {
        &:hover {
            background-color: darken($e-revision, 6%);
        }
    }

    &.bg-estatus-rechazado_analista{
        &:hover {
            background-color: darken($e-rechazado_analista, 6%);
        }
    }

    &.bg-estatus-rechazado_dnpj {
        &:hover {
            background-color: darken($e-rechazado_dnpj, 6%);
        }
    }

    &.bg-estatus-pendiente {
        &:hover {
            background-color: darken($e-pendiente, 6%);
        }
    }

    &.bg-estatus-sin_atender_pgr {
        &:hover {
            background-color: darken($e-sin_atender_pgr, 6%);
        }
    }

    &.bg-estatus-turnado_coordinador {
        &:hover {
            background-color: darken($e-turnado_coordinador, 6%);
        }
    }

    &.bg-estatus-rechazado_coordinador {
        &:hover {
            background-color: darken($e-rechazado_coordinador, 6%);
        }
    }

    &.bg-estatus-turnado_procurador {
        &:hover {
            background-color: darken($e-turnado_procurador, 6%);
        }
    }

    &.bg-estatus-rechazado_procurador {
        &:hover {
            background-color: darken($e-rechazado_procurador, 6%);
        }
    }

    &.bg-estatus-proceso {
        &:hover {
            background-color: darken($e-proceso, 6%);
        }
    }

    &.bg-estatus-concluido {
        &:hover {
            background-color: darken($e-concluido, 6%);
        }
    }

    &.bg-estatus-demanda {
        &:hover {
            background-color: darken($e-demanda, 6%);
        }
    }

    &.bg-estatus-convenio_pago {
        &:hover {
            background-color: darken($e-convenio_pago, 6%);
        }
    }

    &.bg-estatus-pago_total {
        &:hover {
            background-color: darken($e-pago_total, 6%);
        }
    }

    &.bg-estatus-no_procedente{
        &:hover {
            background-color: darken($e-no-procedente, 6%);
        }
    }

    &.bg-estatus-vigente {
        &:hover {
            background-color: darken($e-vigente, 6%);
        }
    }

    &.bg-estatus-historico {
        &:hover {
            background-color: darken($e-historico, 6%);
        }
    }

    &.bg-estatus-planeacion {
        &:hover {
            background-color: darken($e-pendiente, 6%);
        }
    }

    &.bg-estatus-otro_descargo {
        &:hover {
            background-color: darken($e-otro_descargo, 6%);
        }
    }

    &.bg-estatus-pendiente {
        &:hover {
            background-color: darken($e-pendiente, 6%);
        }
    }
    &.bg-estatus-en_revision {
        &:hover {
            background-color: darken($e-en_revision, 6%);
        }
    }
    &.bg-estatus-revision_inadmision {
        &:hover {
            background-color: darken($e-revision_inadmision, 6%);
        }
    }
    &.bg-estatus-inadmision {
        &:hover {
            background-color: darken($e-inadmision, 6%);
        }
    }
    &.bg-estatus-no_procede_inadmision {
        &:hover {
            background-color: darken($e-solventado, 6%);
        }
    }
    &.bg-estatus-providencia {
        &:hover {
            background-color: darken($e-providencia, 6%);
        }
    }
    &.bg-estatus-solventado {
        &:hover {
            background-color: darken($e-solventada, 6%);
        }
    }
    &.bg-estatus-solicitud_expediente {
        &:hover {
            background-color: darken($e-solicitud_expediente, 6%);
        }
    }
    &.bg-estatus-admitida {
        &:hover {
            background-color: darken($e-admitida, 6%);
        }
    }
    &.bg-estatus-informe_cargado {
        &:hover {
            background-color: darken($e-informe_cargado, 6%);
        }
    }
    &.bg-estatus-para_desestimar {
        &:hover {
            background-color: darken($e-para_desestimar, 6%);
        }
    }
    &.bg-estatus-desestimado {
        &:hover {
            background-color: darken($e-desestimado, 6%);
        }
    }
    &.bg-estatus-observaciones_informe {
        &:hover {
            background-color: darken($e-observaciones_informe, 6%);
        }
    }
    &.bg-estatus-informe_actualizado {
        &:hover {
            background-color: darken($e-informe_actualizado, 6%);
        }
    }
    &.bg-estatus-validar_informe_auditor {
        &:hover {
            background-color: darken($e-validar_informe_auditor, 6%);
        }
    }
    &.bg-estatus-proceso_remision {
        &:hover {
            background-color: darken($e-proceso_remision, 6%);
        }
    }
    &.bg-estatus-finalizado {
        &:hover {
            background-color: darken($e-finalizado, 6%);
        }
    }
    &.bg-estatus-expediente_recibido {
        &:hover {
            background-color: darken($e-expediente_recibido, 6%);
        }
    }
    &.bg-btn-guardar {
        &:hover {
            background-color: darken($e-btn-guardar, 6%);
        }
    }
    &.bg-btn-reasignar-auditor {
        &:hover {
            background-color: darken($e-reasignar-auditor, 6%);
        }
    }

    &.bg-btn-incumplimiento {
        &:hover {
            background-color: darken($e-incumplimiento, 6%);
        }
    }

    &.bg-descargo{
        &:hover,
        &:active,
        &:focus
        {
            background-color: darken($gray,6%);
            border-color: darken($gray,6%);
        }
    }

}
.bg-dropdown{
    color: #212529;
    background-color: #F8FAFC!important;
    &:hover{
        background-color: #e9ecef !important;
        color: #212529 !important;
    }
}
.bg-resolucion-demanda{
    background-color: $bg-btn-pink;
}
.bg-resolucion-convenio{
    background-color: $bg-btn-green-dark;
}
.bg-resolucion-convenio{
    background-color: $bg-btn-green-dark;
}


/* Pintar registro por Estatus ATI */

.bg-br-status-pendiente{
    background-color: lighten($e-pendiente, 40%) !important;
    border-bottom: 2px solid $e-pendiente !important;
}

.bg-br-status-en_revision{
    background-color: lighten($e-revision, 40%) !important;
    border-bottom: 2px solid $e-revision !important;
}
.bg-br-status-revision_inadmision{
    background-color: lighten($e-inadmision, 40%) !important;
    border-bottom: 2px solid $e-inadmision !important;
}
.bg-br-status-inadmision{
    background-color: lighten($e-inadmision, 40%) !important;
    border-bottom: 2px solid $e-inadmision !important;
}
.bg-br-status-no_procede_inadmision{
    background-color: lighten($e-solventado, 46px) !important;
    border-bottom: 2px solid $e-solventado !important;
}
.bg-br-status-providencia{
    background-color: #fff5eb !important;
    border-bottom: 2px solid $e-providencia !important;
}
.bg-br-status-solicitud_expediente{
    background-color: #f5edfd !important;
    border-bottom: 2px solid $e-solicitud_expediente !important;
}
.bg-br-status-admitida{
    background-color: #ebfef6 !important;
    border-bottom: 2px solid $e-admitida !important;
}
.bg-br-status-informe_cargado{
    background-color: #ebfef6 !important;
    border-bottom: 2px solid $e-informe_cargado !important;
}
.bg-br-status-para_desestimar{
    background-color: lighten($e-para_desestimar, 40%) !important;
    border-bottom: 2px solid $e-para_desestimar !important;
}
.bg-br-status-desestimado{
    background-color: lighten($e-desestimado, 40%) !important;
    border-bottom: 2px solid $e-desestimado !important;
}
.bg-br-status-observaciones_informe{
    background-color: #ebfef6 !important;
    border-bottom: 2px solid $e-observaciones_informe !important;
}
.bg-br-status-informe_actualizado{
    background-color: lighten($e-informe_actualizado, 40%) !important;
    border-bottom: 2px solid $e-informe_actualizado !important;
}
.bg-br-status-validar_informe_auditor{
    background-color: #ebfef6 !important;
    border-bottom: 2px solid $e-validar_informe_auditor !important;
}
.bg-br-status-proceso_remision{
    background-color: lighten($e-proceso_remision, 40%) !important;
    border-bottom: 2px solid $e-proceso_remision !important;
}
.bg-br-status-finalizado{
    background-color: lighten($e-finalizado, 40%) !important;
    border-bottom: 2px solid $e-finalizado !important;
}
.bg-br-status-expediente_recibido{
    background-color: lighten($e-expediente_recibido, 40%) !important;
    border-bottom: 2px solid $e-expediente_recibido !important;
}

/* Tablas */

.bg-head-table{
    background-color:#555770 !important;
    color:white!important;
}

.bg-sin-mensajes{
    border: solid 1px #ebebf0;
    background-color: #ebebf0;
}
.bg-con-mensajes{
    border: solid 1px #c7c9d9;
}
