.title-principal{
    color:$title-dark;
    font-family: Montserrat;
    font-size: $font-18;
    font-weight: bold;
}
.subtitulo{
    color:$gray;
    font-family: Montserrat;
    font-size: $font-12;
    font-weight: bold;
}

.btn-general{
    background-color: $bg-btn-general;
    color: $white;
    font-size: $font-14;
    font-weight: bold;
    height: 40px;
    text-align: center;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark;
        color:$border-f;
    }
}
.bg-border{
    border: solid 1px $border-light-gray;
    height: 1px;
    width: 100%;
}
.font-select{
    font-size: .75rem;
}

@media only screen and (max-width: 1366px){
    .ms-fs{
        width: 320px;
    }
}
@media only screen and (max-width: 526px){
	.ms-fs{
        width: 360px;
    }
}
