.btn-denuncia{
    background-color: $graylight;
    color: $white;
    font-size: $font-14;
    font-weight: bold;
    height: 50px;
    width: 358px;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark!important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        color:$border-f!important;
    }
}
.btn-envio{
    background-color: $sucess;
    color: $white;
    font-size: $font-14;
    font-weight: bold;
    height: 50px;
    width: 358px;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark;
        color:$border-f;
    }
}

.btn-green{
    background-color: $sucess;
    color: $white !important;
    font-size: $font-14;
    font-weight: bold;
    height: 45px;
    width: 250px;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark;
        color:$border-f;
    }
}
.btn-gris{
    background-color: $white-b;
    color: $dark;
    font-size: $font-14;
    font-weight: bold;
    height: 45px;
    width: 250px;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark;
        color:$border-f;
    }
}
.btn-red{
    background-color: $danger;
    color: $white !important;
    font-size: $font-14;
    font-weight: bold;
    height: 45px;
    width: 250px;
    &:hover{
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $graydark;
        color:$border-f;
    }
}


.icon-right-row{
    background-image: url('/images/icons/right-circulo-de-flecha.svg');
    background-position: 300px 9px;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 0px;

}
.icon-left-row{
    background-image: url('/images/icons/left-circulo-de-flecha.svg');
    background-position: 14px 9px;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 0px;
}

.v-ls{
    margin-left:2%;
}
.v-tls{
    margin-left:20px;
}
.m-rls{
    margin-right:10px;
}
.a-pta{
    padding-top: 7px !important;
    color: $white !important;
}
.b-gray{
    border: solid 1px $border-gray;
}
.tag-titulo{
    color:$graydark;
    font-weight: $font-12 !important;
    font-weight: bold;
    width: 140px;
}
.tag-red{
    color:$danger;
    font-size: 12px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: underline;
}
.tag-black{
    color:$dark;
    font-size: 12px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: underline;
}
.list-archivo{
    background-color: #fafafc;
    border-bottom: solid 1px #8f90a6;
    height: 48px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
.campo-dis{
    background-color: #e2e2eb !important;
}

.modal-denuncia{
    .modal-header{
        background-color: $graydark;
        color: $white;
        font-size: $font-14;
    }
    .btn-circle{
        background-image: url('/images/icons/icon-close-circle.svg');
        background-position: 1px 1px;
        background-size: 30px;
        border-radius: 0px;
        height: 30px;
        width: 30px;
    }
    .num-denu{
        font-weight: bold;
        color:$title-dark;
    }
    .btn{
        height: 46px;
        font-weight: bold;
    }
    .btn-secondary{
        color: $white !important;
        font-size: $font-14 !important;
    }

    .modal-header-danger {
        background-color: $danger;
        color: #fff;
        font-size: .875rem;
    }
}

.tag-form{

    background-color: $primary;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    height: 63px;
    justify-content: space-between;
    margin-right: 70px;
    padding: 5px;
    width: 63px;

    button{
        border-radius: 30px;
        width: 53px;
        height: 53px;
        padding: 8px;
        color: $white;
        border: none;
        font-size: $font-24;
        font-weight: bold;
    }
    span{
        font-size: $font-12;
        color: $graydark;
        font-weight: bold;
    }

    .tag-activo{
        background-color: $primary-dark;
    }
}

.detalle-denuncia{
    p{
        color: #1c1c28;
        font-family: Montserrat;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: normal;
    }
    label{
        color: $graydark;
        font-family: Montserrat;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: normal;
    }

    span{
        color: $graydark;
        font-family: Montserrat;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: normal;
    }

    a:link, a:visited {
        text-decoration: none;
        color:$dark;
    }

    .titulo-bg-gray{
        background-color: #ebebf0;
        font-size: $font-16;
        font-weight: bold;
        color: $graydark;
        font-family: $font-family-sans-serif;
        padding: 15px;
    }
    .sub-titulo-red{
        color: #db473c;
        font-family: Montserrat;
        font-size: $font-16;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: normal;
        padding-bottom: 20px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 15px;
    }
    .sub-titulo-gray{
        color: #1c1c28;
        font-family: Montserrat;
        font-size: $font-16;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: normal;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 15px;
    }

    .bg-white{
        background-color: $white !important;
    }
    .icon-status{
        margin: 5px 5px 5px 5px;
        border-radius: 25px;
        width: 15px;
        height: 15px;
    }
    .nom-status{
        color: #555770;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        margin: 3px 0px 0px 0px;
        text-transform: capitalize;
    }
    .text-justify{
        text-align: justify;
    }
    .break-w{
        overflow-wrap: break-word;
    }


}
