.header {
    border-bottom: solid 4px $primary;

    nav.navbar {
        border-bottom: solid 4px $tertiary;

        .navbar-brand {
            column-gap: 10px;

            .title {

            }

            .text-secondary {
                font-size: 16px;
            }

            .text-tertiary {
                font-size: 18px;
            }

        }
    }

    &.header-app {
        border: none;

        nav.navbar {
            border: none;
        }
    }

}
